.DefaultButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    min-width: 120px;
    gap: 8px;
    padding: 0 6px;
    
    /* Fonts/Nav and Button Label */
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

.DefaultButton.disabled {
    cursor: unset;
    pointer-events: none;
}

.SmallDefaultButton {
    height: 24px;
}

.MediumDefaultButton {
    height: 28px;
}

.LargeDefaultButton {
    height: 32px;
}

.PrimaryButton:hover:not(.disabled) {
    background: var(--Gradient-Button-Hover);
}

.PrimaryButton {
    background: var(--Gradient-Button-Default);
    color: var(--Button-Primary-Label);
}

.PrimaryButton.disabled {
    background: var(--gradientButtonDisabled);
}

.SecondaryButton:hover:not(.disabled) {
    background: var(--secondaryHighlight);
}

.SecondaryButton {
    background: var(--quandaryBackground);
    color: var(--primaryText);
    font-weight: 400;
}

.SecondaryButton.disabled {
    background: var(--secondaryBackground);
}

.TertiaryButton:hover:not(.disabled) {
    background: var(--tertiaryHighlight);
}

.TertiaryButton {
    background: var(--tertiaryBackground);
    color: var(--primaryText);
}

.QuandaryButton:hover:not(.disabled) {
    background: var(--secondaryHighlight);
}

.QuandaryButton {
    background: var(--quandaryBackground);
    color: var(--primaryText);
}

.StrokeButton {
    padding: 0px 1rem;
    min-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--Button-Outline-Stroke);
    border-radius: 0.25rem;
    background-color: var(--primaryBackground);
    border: 1px solid var(--Button-Outline-Stroke);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto';
    font-weight: 500;
    transition: all .2s ease-in-out;
    height: auto;
    width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.StrokeButton:hover {
    background-color: var(--Button-Outline-Stroke-Hover);
}

.AutoDefaultButton {
    height: auto;
    min-width: auto;
}

.TextButton {
    background: transparent;
    color: var(--Button-Link-Text);
}

.StrokeButtonNeutral {
    color: var(--tertiaryHighlight);
    border: 1px solid var(--tertiaryHighlight);
}

.StrokeButtonNeutral:hover {
    background-color: var(--secondaryHighlight);
}